if type fvm 2>/dev/null;
then
    EXPECTED_FLUTTER_VERSION=$(<.fvm)
else
    echo "Install and configure fvm"
    exit 126
fi

if type flutter 2>/dev/null;
then
    CURRENT_FLUTTER_VERSION=$(flutter --version | grep Flutter)
else
    echo "Configure Flutter CLI"
    exit 126
fi


echo -e "Current Flutter Version: $CURRENT_FLUTTER_VERSION"
echo -e "Expected Flutter Version: $EXPECTED_FLUTTER_VERSION"

spinner()
{
    local pid=$!
    local delay=0.75
    while [ "$(ps a | awk '{print $1}' | grep $pid)" ]; do
        echo -n "."
        sleep $delay
    done
}

if [[ "$CURRENT_FLUTTER_VERSION" == *"$EXPECTED_FLUTTER_VERSION"* ]];
then
    echo -e "Nice, you're all set!"
else
    echo -e "Loading Flutter Version: $EXPECTED_FLUTTER_VERSION"
    fvm $EXPECTED_FLUTTER_VERSION &
    spinner
fi

echo -e "Set appropriate SDK path for Flutter $EXPECTED_FLUTTER_VERSION"

set -a